.box{
    background-color: rgb(128, 128, 128, 0.7);
    width: 400px;
    border-radius: 10px;
    color: white;
    padding: 20px;
    position: absolute;
    top: 20px;
    left: 30px;
    overflow: hidden;
    border: 2.5px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px) saturate(1.5);
    box-shadow: 5px 5px 15px 0 rgba(4, 4, 4, 0.2);
}

.box::before{
    content: "";
    display: block;
    height: 90%;
    width: 10px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 6px;
    top: 30%;
    transition: translateY(-50%);
    box-shadow: 2px 0 15px 0 rgb(0, 0, 0, 0.3);
}

.box:nth-child(2){
    background-color: rgba(213, 213, 42, 0.4);
    left: 200px;
    top: 100px;
}
.box:nth-child(3){
    background-color: rgba(68, 18, 195, 0.4);
    left: 50px;
    top: 300px;
}
.box:nth-child(4){
    background-color: rgba(208, 32, 32, 0.4);
    left: 300px;
    top: 500px;
}